* {
    /* outline: 1px solid red; */
}

body {
    font-family: Montserrat;
    background-color: #f5f5f5;
    color: #2E3440;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25vh;
}

.profile-img-bio {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.socials {
    width: 39.1rem;
}

.img-container {
    margin-left: 2rem;
}

#profile-img {
    width: 20vh;
    margin-top: 1rem;
    border-radius: 50%;
    
}
